<div class="container">

  <%= image_tag "arrow.png", size: "60x60", id: "forward_arrow" %>

  <p id="notice"><%= notice %></p>

  <%#= render partial: "blog/entries/form" %>

  <h1><%= @blog_entry_w_comments.title %></h1>

  <!-- put blog_tags here -->

  <div id="blog_entry_body">
    <p class="joe_font">
      <%= @blog_entry_w_comments.body %>
    </p>
  </div>

  <div id="page_number">
    <%= @blog_entry_w_comments.id %>
  </div>

  <%= link_to 'Back', blog_entries_path %>

</div>




<%#= link_to 'Edit', edit_blog_entry_path(@blog_entry_w_comments) %> |
<%= link_to 'Back', :back %>
