<p id="notice"><%= notice %></p>

<p>
  <strong>Author name:</strong>
  <%= @blog_comment.author_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog_comment.body %>
</p>

<%= link_to 'Edit', edit_blog_comment_path(@blog_comment) %> |
<%= link_to 'Back', blog_comments_path %>
