<div class="container-fluid">
  <div id="top_container">
<!--     <div class="row">
      <div class="col-xs-12 col-sm-12" id="toptop"> -->

        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-sm-4 col-md-4 business_col">
            <div id="formal_pictures_container"><%= image_tag "Formal_Me/1.jpg" %></div>
          </div>

          <div class="clearfix visible-xs-block visible-sm-block"></div>

          <div class="col-xs-12 col-sm-offset-1 col-sm-4 business_col" >
            <div id="business_card_container">
              <div id="business_card" class="shadow">
                <div class="front face">
                  <%= image_tag "Formal_Me/business_card_front_big.jpg" %>
                </div>
                <div class="back face">
                  <%= image_tag "Formal_Me/business_card_back_big.jpg"%>
                </div>
              </div>
            </div>
          </div>
      <!--   </div>
      </div> -->
    </div>

     <!-- <div class="clearfix visible-xs-block"></div> -->
  </div>










  <div id="banner_container">
    <div id="banner">
      <svg viewBox="0 0 366.225 164.3" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g transform="matrix(1.25,0,0,-1.25,0,164.3)"><g transform="scale(.24)"><path d="m178.055,349.648c45.203,24.747 150.441,9.102 193.418,60.516 64.465-18.309 142.648,53.848 193.949,58.84 20.676,2 35.195-8.938 44.719-20.844-.36-7.797.285-16.633 2.246-26.765 0,0 2.019,5.976 6.383,13.671 4.21-7.781 6.125-13.793 6.125-13.793 2.148,10.098 2.96,18.926 2.742,26.723 9.75,11.719 24.48,22.387 45.117,19.988 51.187-5.957 127.992-79.582 192.789-62.5 42-52.222 147.517-38.578 192.237-64.16 37.52-21.508 20.91-73.355 20.91-73.355 77.05,70.945-27.9,116.5-27.9,116.5 21.3,61.586-15.81,76.648-49,72.679-33.196-3.957-34.79-32.402-14.907-45.886 19.867-13.481 39.157,9.433 39.157,9.433-.83-20.433-23.31-39.98-48.005-29.117-24.656,10.863-29.183,35.555-29.183,35.555-29.067-14.008-53.157-6.625-68.114,1.879 .856,1.39 1.692,2.801 2.668,4.121-2.277-.199-5.304-.332-8.843-.223-2.907,2.012-5.258,3.918-6.985,5.43 .008-1.645-.156-3.27-.293-4.902-17.09,2.035-40.851,10.398-55.933,38.933 0,0-18.293-17.187-44.594-11.289-26.313,5.918-32.805,35.004-21.34,51.941 0,0 1.922-29.89 25.91-30.847 24-.953 39.613,22.879 15.254,45.777s-63.156,32.797-82.586-29.394c0,0-61.215,14.035-84.824-20.536-22.938,35.016-84.41,22.141-84.41,22.141-18.25,62.551-57.223,53.391-82.012,30.949-24.805-22.429-9.641-46.558 14.375-46.054 24.004.496 26.488,30.355 26.488,30.355 11.149-17.164 4.102-46.109-22.316-51.531-26.406-5.399-44.375,12.125-44.375,12.125-15.617-28.238-39.535-36.149-56.656-37.856-.11,1.625-.239,3.254-.2,4.899-1.753-1.465-4.148-3.336-7.089-5.293-3.536-.047-6.563.148-8.844.39 .961-1.347 1.777-2.761 2.597-4.168-15.121-8.23-39.335-15.148-68.14-.589 0,0-4.988-24.606-29.856-34.993-24.879-10.402-47.004,9.571-47.445,30.02 0,0 18.852-23.273 38.984-10.18 20.125,13.102 19.075,41.575-14.043,46.172-33.121,4.586-70.492-9.773-50.367-71.75 0,0-105.7849-43.555-30.101-115.953 0,0-15.625,52.16 22.293,72.941" fill="#f19e1a"></path><path d="m155.762,270.965c-75.6839-72.399 30.101-115.949 30.101-115.949-20.125-61.9769 17.246-76.3363 50.367-71.7465s34.168,33.0625 14.043,46.1645c-20.132,13.093-38.984-10.18-38.984-10.18 .441,20.453 22.566,40.422 47.445,30.027 24.868-10.39 29.856-35 29.856-35 28.805,14.559 53.019,7.645 68.14-.586-.82-1.406-1.636-2.824-2.597-4.164 2.281.235 5.308.43 8.844.391 2.941-1.965 5.336-3.832 7.089-5.301-.039,1.649.09,3.274.2,4.899 17.121-1.707 41.039-9.6137 56.656-37.8559 0,0 17.969,17.5273 44.375,12.125 26.418-5.418 33.465-34.3672 22.316-51.5313 0,0-2.484,29.8594-26.488,30.3555-24.016.5039-39.18-23.625-14.375-46.0508 24.789-22.44141 63.762-31.6016 82.012,30.9453 0,0 61.472-12.8711 84.41,22.1445 23.609-34.5703 84.824-20.5351 84.824-20.5351 19.43-62.1953 58.223-52.30079 82.586-29.3945 24.359,22.8945 8.746,46.7343-15.254,45.7773-23.988-.957-25.91-30.8477-25.91-30.8477-11.465,16.9336-4.973,46.0196 21.34,51.9375 26.301,5.8985 44.594-11.2851 44.594-11.2851 15.082,28.5353 38.843,36.8983 55.933,38.9333 .137-1.633.301-3.258.293-4.898 1.727,1.508 4.078,3.414 6.985,5.426 3.539.109 6.566-.028 8.843-.223-.976,1.32-1.812,2.727-2.668,4.117 14.957,8.508 39.047,15.887 68.114,1.879 0,0 4.527,24.695 29.183,35.555 24.695,10.867 47.175-8.68 48.005-29.117 0,0-19.29,22.918-39.157,9.433-19.883-13.48-18.289-41.9256 14.907-45.8827 33.19-3.9726 70.3,11.0937 49,72.6797 0,0 104.95,45.555 27.9,116.496 0,0 16.61-51.844-20.91-73.351-44.72-25.582-150.237-11.942-192.237-64.164-64.797,17.085-141.602-56.5396-192.789-62.4966-20.637-2.3984-35.367,8.2695-45.117,19.9883 .218,7.8003-.594,16.6253-2.742,26.7183 0,0-1.915-6.011-6.125-13.789-4.364,7.696-6.383,13.668-6.383,13.668-1.961-10.132-2.606-18.968-2.246-26.7653-9.524-11.9023-24.043-22.8437-44.719-20.8359-51.301,4.9883-129.484,77.1442-193.949,58.8322-42.977,51.422-148.215,35.773-193.418,60.515-37.918,20.786-22.293,72.942-22.293,72.942" fill="#f19e1a"></path><path d="m1220.75,113.648c-149.92,38.477-1070.832,38.477-1220.75,0 149.918,38.477 149.918,274.836 0,313.313 149.918-38.477 1070.83-38.477 1220.75,0-149.92-38.477-149.92-274.836 0-313.313" fill="#f19e1a"></path></g></g></svg>

      <div id="banner_text_container">
        <p id="joe_noonan">Joe Noonan</p>
        <p id="what_i_does">Web Developer</p>
      <div>

    </div>
  </div>


    <div class="row" id="middle_portion">
    <div class=" col-sm-6 col-sm-offset-3 social_media_icon">

      <div class="row">

        <div class="col-sm-4 social_media_icons center">
          <%= link_to "https://github.com/joe11000" do %>
            <%= image_tag "social_media/github.png", size: "75x75" %>
          <% end %>
        </div>

        <div class="col-sm-4 social_media_icons center">
          <%= link_to "http://www.linkedin.com/in/joenoonan27/" do %>
            <%= image_tag "social_media/linkedin.png", size: "75x75" %>
          <% end %>
        </div>

        <div class="col-sm-4 social_media_icons center">
          <%= link_to "http://www.twitter.com/LiveItUp227" do %>
            <%= image_tag "social_media/twitter.png", size: "75x75" %>
          <% end %>
        </div>

        <div class="clearfix visible-xs-block visible-sm-block"></div>
      </div>
      <!-- <div class="col-xs-offset-2"></div>
    </div> -->


  <div class="row categories">

    <div class="col-sm-offset-2 col-sm-7">

      <div class="row">

        <div class="col-sm-3 center">
          <%= button_to "Blog", blog_entry_path(0), class: "btn btn-info", id: "blog",  method: :get %>
        </div>

        <div class="col-sm-3 center">
          <%= button_to "Bio", "http://www.nfl.com", class: "btn btn-info", id: "bio" %>
        </div>

        <div class="col-sm-3 center">
          <%= button_to "Resume", "http://www.chicagobears.com", class: "btn btn-info", id: "resume" %>
        </div>

        <div class="col-sm-3 center">
          <%= button_to "Interests", "http://www.chicagobears.com", class: "btn btn-info", id: "interests" %>
        </div>
      </div>
    </div>
  </div>


 <div id="projects_container">
  <h1>Projects</h1>

  <div id="projects" class="row">
    <div class="col-xs-2 col-sm-2">
      <div class="row" id="projects_side_column">
        <div class="col-xs-12 col-sm-12">
          <ul class="list_of_coding_languages">
            <% @coding_languages.each do |coding_language| %>
              <li class="coding_language">
                <span><%= coding_language %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>


    <div class="col-xs-10 col-sm-10">
      <div class="row">
        <div class="col-xs-10 col-sm-10" id="project_title">
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-10 col-sm-10" id="project_body">
        </div>

        </div>
      </div>

    </div>
  </div>
</div>


</div>

