<!DOCTYPE html>
<html>
<head>
  <meta name="theme-color" content="#551a8b">
  <!-- # generic assets, styles, and js needed for all pages -->
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true , debug: true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true , debug: true%>


  <!-- # page specific assets, styles, and js needed per page -->
  <% if params[:controller] == "home/homes" %>
      <%= stylesheet_link_tag  'home/homes', media: 'all', 'data-turbolinks-track' => true , debug: true%>
      <%= javascript_include_tag 'home/homes', 'data-turbolinks-track' => true , debug: true%>
      <title>Joseph Noonan 101</title>

    <% elsif params[:controller] == "blog/entries" %>
      <%= stylesheet_link_tag  'blog/blog_stylesheet', 'data-turbolinks-track' => true , debug: true%>

      <%= javascript_include_tag 'blog/comments', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'blog/entries', 'data-turbolinks-track' => true %>
      <title>Blog</title>

    <% elsif params[:controller] == "resume/resume" %>
      <%= stylesheet_link_tag  'resume/resume', 'data-turbolinks-track' => true , debug: true%>

      <%= javascript_include_tag 'resume/resume', 'data-turbolinks-track' => true %>
      <title>Blog</title>

    <% elsif params[:controller] == "ar" %>
      <%= stylesheet_link_tag  'ar', 'data-turbolinks-track' => true %>

      <%= javascript_include_tag 'ar/awe-loader-min', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-loader', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-standard', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-standard-dependencies', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-standard-object_clicked', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-standard-window_resized', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/awe-v8', 'data-turbolinks-track' => true %>

      <%= javascript_include_tag 'ar/marker_ar/awe-jsartoolkit-dependencies', 'data-turbolinks-track' => true %>

      <%= javascript_include_tag 'ar/ar_page', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'ar/marker_ar/awe.marker_ar', 'data-turbolinks-track' => true %>
      <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <% else %>
      <h1><%= params[:controller] %> is not a real controller</h1>
    <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
